.c-btn {
  // Reset default <button> styles
  @include unbuttonize;
  // Reset default <a> styles
  text-decoration: none;
  font-weight: 800;
  display: inline-block;
  padding: 1rem 1.85rem;
  line-height: $line-height-tight;
  transition: all 0.25s $ease-out-expo;
  cursor: pointer;
  color: white;
  background-color: $c-btn-primary;

  &:focus,
  &:hover {
    background-color: darken($c-orange, 10%);
  }
}
