---
title: Click Me
name: Standard Button
order: 1

variantGroups:
  - name: Color
    set:
      - c-btn--primary
  - name: Size
    set:
      - ""
      - c-btn--lg
      - c-btn--sm
  - name: Other
    set:
      - ""
      - c-btn--full-width
---
<a href="#" class="c-btn">{{title}}</a>
