---
title: Navigation
name: Standard Navigation
order: 3
---
<header class="header">
  <nav class="navigation">
    <div class="navigation__container">
      <img class="navigation__logo" src="/assets/AME-logo-color.png" alt="A Modern Eden logo image">
      <ul class="navigation__list">
        <li class="navigation__list__item"><a href="#" class="navigation__link">Our Story</a></li>
        <li class="navigation__list__item"><a href="#" class="navigation__link">Our Products</a></li>
        <li class="navigation__list__item"><a href="#" class="navigation__link">IOS Apps</a></li>
        <li class="navigation__list__item"><a href="#" class="navigation__link">Where to Buy</a></li>
        <li class="navigation__list__item"><a href="#" class="navigation__link">Get AME in Your Store</a></li>
      </ul>
    </div>
  </nav>
</header>
