$c-ame-dark-brown: #483700;
$c-pale: #F9EFDC;
$primary-font: "AvenirNext", "Avenir Next", sans-serif;
$c-ame-orange: #F26531;

//
// FONT SIZES
//
$font-size-xxs: 0.875rem;
$font-size-xs: 1rem;
$font-size-sm: 1.125rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3.625rem;
$font-size-xxl: 4.5rem;

//
// FONT WEIGHTS
//

$weight-regular: 400;
$weight-medium: 600;
$weight-demi: 700;
$weight-bold: 800;
$weight-xbold: 900;


@mixin section-sub-heading {
  font-size: $font-size-xs;
  font-weight: $weight-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
  font-family: $primary-font;
}

@mixin default-paragraph {
  margin: 0 0 space(lg);
  color: $c-ame-dark-brown;
  font-weight: $weight-medium;
  font-size: $font-size-sm;
  font-family: $primary-font;

  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }
}

.drizzle-variant-button {
  border: none;
  margin: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.

  display: block;
  background: #ededed;
  color: #4c4c4c;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-weight: $weight-bold;
  font-size: $font-size-xs;
}

.drizzle-nav {
  background: #483700;
  color: $c-pale;
  -webkit-font-smoothing: antialiased;

  &__header {
    padding: 0.7rem;
    background-color: $c-ame-orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 0.7rem 0 1.4rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-gap: 1.3rem;
    justify-content: space-around;

    @media (min-width: 960px) {
      display: block !important;
    }
  }

  &__title {
    margin: 0;

    font-family: $primary-font;
    font-size: $font-size-sm;
    font-weight: $weight-bold;

    a {
      text-decoration: none;
      color: inherit;
      border: none;
      font-family: $primary-font;
    }

    @media (min-width: 960px) {
      margin-bottom:0;
    }
  }

  &__toggle {
    border: none;
    margin: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none; // Just in case we missed anything.

    font-family: $primary-font;
    letter-spacing: 1px;
    font-size: $font-size-xs;
    font-weight: $weight-bold;
    text-transform: uppercase;
    color: white;
    background-color: rgba(black, 0.4);
    padding: 0.5rem 1rem;

    &[aria-expanded="true"] {
      background-color: rgba(black, 0.8);
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__collection-title {
    margin: 0.2rem 0;
    padding: 0 0.7rem;

    font-family: $primary-font;
    font-size: $font-size-sm;
    font-weight: $weight-bold;
    text-transform: uppercase;
  }

  &__collection-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: 960px) {
      margin-bottom: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $primary-font;
    font-size: $font-size-sm;

    color: $c-pale !important;
    font-weight: $weight-medium;

    display: block;

    padding: 0.4rem 0.7rem;

    transition: all 0.1s ease-out;

    &:focus,
    &:hover {
      background-color: mix($c-ame-dark-brown, $c-pale, 90%) !important;
    }
  }
}


.drizzle-heading-1 {
  font-family: $primary-font;
  font-size: $font-size-xl;
  line-height: 1;
  margin: 0 0 1em;
  font-weight: $weight-bold;
  color: $c-ame-dark-brown;

  -webkit-font-smooothing: antialiased;
}

.drizzle-heading-2 {
  font-family: $primary-font;
  font-size: $font-size-lg;
  font-weight: $weight-bold;

  -webkit-font-smooothing: antialiased;
}

.drizzle-collection-heading {
  line-height: 1;
  color: $c-ame-dark-brown;
  font-weight: $weight-bold;

  &__sub {
    @include section-sub-heading;
  }

  &__text {
    font-family: $primary-font;
    font-size: $font-size-xl;
    font-weight: $weight-bold;

    @media (min-width: 30em) {
      font-size: $font-size-xl;
    }
  }
}

.drizzle-p {
@include default-paragraph;
}

.drizzle-Layout-main {
  background: $c-pale;
}

.drizzle-white-bg {
  background: white;
}


.drizzle-pattern {
  background: white;

  padding: 0.75rem;

  @media (min-width: 30em) {
    padding: 3rem;
  }

  margin: 5rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: $font-size-md;
    font-family: $primary-font;
    font-weight: $weight-bold;
    line-height: 1;

    color: $c-ame-dark-brown;

    margin: 0;

    @media (min-width: 30em) {
      font-size: $font-size-lg;
    }
  }

  &__info {
    font-size: $font-size-xs;
    font-family: $primary-font;
    color: $c-ame-dark-brown;

    margin-top: 1em;
  }

  &__variant-button {
    flex-shrink: 0;

    border: none;

    font-size: $font-size-xxs;
    font-family: $primary-font;
    font-weight: $weight-demi;

    background: $c-ame-dark-brown;
    color: $c-pale;
    padding: 0.3rem 0.4rem;
  }

  &__variant-box {
    background: $c-ame-dark-brown;
    color: $c-pale;
    font-family: $primary-font;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 13rem));
    grid-gap: 1rem;

    padding: 1rem;

    code {
      font-family: 'Roboto Mono', sans-serif !important;
    }

    input {
      margin-right: 0.3rem;
    }
  }

  &__variant-group {
    border: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  &__variant-legend {
    font-size: $font-size-xxs;
    text-transform: uppercase;
    font-weight: $weight-demi;
  }

  &__demo-box-title {
    font-family: $primary-font;
    font-size: 0.75rem;
    color: rgba($c-ame-dark-brown, 0.7);
    margin: 0;
  }

  &__demo-box {
    border: 3px solid $c-pale;
    background: white;

    padding: 24px;

    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }

    &--code {
      // This override's prism's default styles
      background: white !important;
    }
  }

  &__source {
    // This override's prism's default styles
    background: white !important;
    font-family: 'Roboto Mono', sans-serif !important;
    font-size: $font-size-xs;
  }

  &__demo-box-button {
    font-family: $primary-font;
  }
}

.is-active {
  background-color: mix($c-ame-dark-brown, $c-pale, 90%) !important;
}

.drizzle-example-block {
  height: 100px;
  background: $c-ame-dark-brown;
  box-shadow: inset 0 0 0 2px white;
}

.drizzle-index-a {
  color: $c-ame-orange;
  text-decoration: none;
}
